player-connection-mode=Listen
player-connection-guid=235998974
player-connection-debug=0
player-connection-project-name=gamejamming
player-connection-ip=172.19.174.22
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d023d95aecc148269c7b63bad768f275
